<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

<div style="float:right">

</div>
<div>
<center>

<h1><span style="color:#5C5C5C;">PVC</span><span style="color:#139442"> Robot</span></h1>



<h3>Intel Edson BreakBoard</h3><br><br>

  <a href="#" id="up" style="font-size:30px;text-decoration:none;"><br>Forward</a>
  <br><br>
  <a href="#" id="left" style="font-size:30px;text-decoration:none;">Left</a><br><br>

  <a href="#" id="right" style="font-size:30px; text-decoration:none;">Right</a><br><br>
  <a href="#" id="down" style="font-size:30px;text-decoration:none;"> Backward<br></a>
</div></center>

<script>
$( document ).ready(function(){
    $("#down").on("mousedown", function() {
     $.get('/down_side');
     }).on('mouseup', function() {
     $.get('/stop');
    });
    $("#up").on("mousedown", function() {
     $.get('/up_side');
     }).on('mouseup', function() {
     $.get('/stop');
    });
    $("#left").on("mousedown", function() {
     $.get('/left_side');
     }).on('mouseup', function() {
     $.get('/stop');
    });
    $("#right").on("mousedown", function() {
     $.get('/right_side');
     }).on('mouseup', function() {
     $.get('/stop');
    });
});
</script>

</body>
</html>
